mixin nav-trigger(data)
    button.nav-trigger&attributes(attributes)
        != pugHelpers.Icon.call(locals, {iconName: 'close-icon', className: 'nav-trigger__close'})
        != pugHelpers.Icon.call(locals, {iconName: 'menu-icon', className: 'nav-trigger__open'})