mixin country(data)
    section.country&attributes(attributes)
        .country__container.container
            .country__top.flex
                h2.country__title.title Browse by country
                .country__buttons.flex
                    button.country__button.country__button_prev
                        != pugHelpers.Icon.call(locals, {iconName: 'arrow-slider', className: 'country__button-icon'})
                    button.country__button.country__button_next
                        != pugHelpers.Icon.call(locals, {iconName: 'arrow-slider', className: 'country__button-icon'})

            .country__slider.swiper-container
                .swiper-wrapper
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-aut', className: 'country__flag'})
                            .country__name Aut
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-fra', className: 'country__flag'})
                            .country__name Fra
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-che', className: 'country__flag'})
                            .country__name Che
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-ita', className: 'country__flag'})
                            .country__name Ita
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-deu', className: 'country__flag'})
                            .country__name Deu
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-and', className: 'country__flag'})
                            .country__name And
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-usa', className: 'country__flag'})
                            .country__name Usa
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-can', className: 'country__flag'})
                            .country__name Can
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-arg', className: 'country__flag'})
                            .country__name Arg
                    .country__slide.swiper-slide
                        a.country__link(href="#")
                            != pugHelpers.Icon.call(locals, {iconName: 'country-nzl', className: 'country__flag'})
                            .country__name Nzl


                .country__controls.flex

                    .country__scrollbar

