mixin breadcrumbs(data)
    .breadcrumbs&attributes(attributes)
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Home
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Resort


mixin breadcrumbs-article(data)
    .breadcrumbs&attributes(attributes)
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Home
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Article


mixin breadcrumbs-contacts(data)
    .breadcrumbs&attributes(attributes)
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Home
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Contact